$main-color: black;
$main-border-radius: 10px;
$main-bg-color: white;
$bs-navbar-brand-font-size: 1.25rem;
$bs-nav-link-color: rgba(0, 0, 0, 0.55);
$bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
$bs-border-radius-pill: 50rem;
$bs-banner-desk: rgba(255, 255, 255, 0.5) !important;
$bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
;
$main2-border-radius: 5px;
$bs-card-border-width: 1px;
$bs-card-border-color: rgba(0, 0, 0, 0.175);
$bs-dark-rgb: rgba(33, 37, 41,1);
$bs-bg-opacity: 1;
$bs-white-rgb: rgba(255, 255, 255,1);